
/* Nav Bar */
.nav-item, .navbar-brand{
  font-size: 1.3rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;



}
.nav-item:hover{
  text-decoration: underline;
}
/*-----------------------------*/


/* Header  */

.banner{
  height: 300px;
}
.name{
  color: white;
  justify-content: center;
  font-family: "lora", "serif";
}

.title{
  color:rgb(189, 185, 185);
  justify-content: center;
  font-family: "lora", "serif";

}
.block {
  justify-content: center;
  text-align: center;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  background-color: black;
  position: relative;
}


/*Content*/

.content{
  font-family: 'Lato', "sans-serif";
  font-size: 1.3rem;
}

.description{
  margin-top: 15%;
  text-align: justify;
  justify-content: center;
  height: 100%;
  margin-top: 15%;
  margin-bottom: 15%;
  position: relative;
}
.talk{
  font-weight: bolder;
}
.user{
  margin: 25px;
  color:black;
}

.fab{
  color: black;
}
.icn i{
  font-size: 2rem;
  margin-top: 10px;

}

.icn a{
  text-decoration:none;
}

.find-me{
  margin-left: 50px;
  font-size: 1.3rem;
  margin-bottom: 1.5rem
}

.contact{
  /* text-align: justify; */
  justify-content: center;
  height: 100%;
  margin-top: 10%;
  margin-bottom: 15%;
  position: relative;
  margin-left: 15%
}





/*Footer*/
.footer{
  height: 250px;
  background: black;
  font-size: 2em;
  margin-bottom: 0;
  position: relative;
}
.icons{
  bottom: 0;
  position: absolute;
}

.icons .fab{
  color: white;
  margin-bottom: 50px;
  margin-left: 1.5rem;
  margin-right: auto;

  bottom: 0;
  position: relative
}

.footer p{
  color: gray;
  font-size: 11px;
  bottom: 0;
  position: absolute;

}
