/* Nav Bar */
.nav-item, .navbar-brand{
  font-family: "lora", "serif";
  font-size: 1.2rem;
  font-weight: bold;

}
.nav-item:hover{
  text-decoration: underline;
}
/*-----------------------------*/


/* Header  */

.banner{
  height: 300px;  
}
.name, .title {
  color: white;
  justify-content: center;
  font-family: "lora", "serif";
}
.block {
  justify-content: center;
  text-align: center;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  background-color: black;
  position: relative;
}

/* --------------------------- */



/*Skills */

.skills{
  margin-top: 1.5em;
  
}

.icon_skill{
  font-size: 7em;
}

.building_skill, .deploy_skill, .analysis_skill{
  margin-top: 2.5em;
}

.skill_exp {
  margin-top: 2.5em;
}

.class_title {
  margin-top: 1em;
  font-size: 2.2em;
  font-weight: 600;
}


/* --------------------------------- */



/* Projects*/
.projects{

  height: 300px;
  margin-top: auto;
  margin-bottom: 1.5rem;
  position: relative;

}



.prj_desc{
  font-size: 1.5rem;
  font-family: "lora", "serif";
}

.prj{ 
  /* Center vertically */
  position: absolute;
  top: 50%;
  margin-top: -25px; /* half this element's height */
}


/* -----------------------------------*/


/*About*/
.about{
  margin-bottom: 1.5rem;
}

.photo{
  max-width: 60%;
}

.bio{
  font-size: 1.5rem;
  font-family: "lora", "serif";
}


/*------------------------------------*/






/*Footer*/
.footer{
  height: 200px;
  background: black;
  font-size: 2em;
  margin-bottom: 0;
  position: relative;
}
.icons{
  bottom: 0;
  position: absolute; 
}
.fab{
  color: white;
  
}
.icons .fab{
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}


/*-------------------------------------*/


