.banner{
    /*background-image:url("../images/IMG_20200102_092646.jpg");*/
    background-color: black;
    /*background-size: cover;
    background-position-y: center;*/
    height: 150px;
    
}

.title{
    text-align: center;
    color: whitesmoke;

}

.block{
    justify-content:center ;
}
