.banner{
    /*background-image:url("../images/IMG_20200102_092646.jpg");*/
    background-color: black;
    /*background-size: cover;
    background-position-y: center;*/
    height: 350px;
    
}

.title{
    
    color: whitesmoke;
    margin-bottom: auto;
    margin-top: auto;
    justify-content: center;
}

.block{
    justify-content: center;
    text-align: center;
    height: 350px;
    margin-top: auto;
    margin-bottom: auto;

}
