/* Nav Bar */
.nav-item, .navbar-brand{
  font-size: 1.3rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;



}
.nav-item:hover{
  text-decoration: underline;
}
/*-----------------------------*/


/* Header  */





.banner{
  height: 300px;
}
.name{
  color: white;
  justify-content: center;
  font-family: "lora", "serif";
}

.title{
  color:rgb(189, 185, 185);
  justify-content: center;
  font-family: "lora", "serif";

}
.block {
  justify-content: center;
  text-align: center;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  background-color: black;
  position: relative;
}


/*Footer*/
.footer{
  height: 250px;
  background: black;
  font-size: 2em;
  margin-bottom: 0;
  position: relative;
}
.icons{
  bottom: 50%;
  position: absolute;
}
.fab{
  color: white;

}
.icons .fab{

  margin-bottom: 50px;
  margin-left: 1.5rem;
  margin-right: auto;

  bottom: 0;
  position: relative
}

.footer p{
  color: gray;
  font-size: 11px;
  bottom: 0;
  position: absolute;

}

/*-------------------------------------*/
