{% extends 'base.html'%}

      <!-- Header -->

{% block content %}
<div class="banner">
  <div class="d-flex align-items-middle flex-column block">
      <h1 class="name">Contact Me</h1>
  </div>
</div>

<!-- Form  -->
<div class="container">
    <form action="/submit_form" method = "POST">
        <div class="form-group">
          <label>First Name</label>
          <input name = "name"  type = "text" class = "form-control" id="exampleFormControlInput1" placeholder="name">
          <label>Last Name</label>
          <input name = "last name" type = "text" class="form-control" id="exampleFormControlInput1" placeholder="Last name">
          <label>email</label>
          <input name = "email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="email">

        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message</label>
          <textarea name = "message" type = "text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Send!</button>
      </form>

</div>

{% endblock %}
