<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/f7b95a6ec7.js" crossorigin="anonymous"></script>
    <title>Hello, world!</title>
  </head>
  <body>
    <!-- Nav Bar-->
    <div class="container">
      <div class = "row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">NB</a>    
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>    
              <div class="justify-content-center collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Projects</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Contact Me</a>
                  </li>              
                </ul>
              </div>
            </div>
          </nav> 
        </div>
      </div>
    </div>

    <!-- Header -->
  
    <div class="banner">
      <div class="d-flex align-items-middle flex-column block">
          <h1 class="name">NICOLAS BUITRAGO BAUTISTA</h1>
          <h3 class="title">Machine learning for a better world</h3>
      </div>      
    </div>




    
<!-- Skills section -->
<div class="skills">
  <div class="container">
    <div class="row ">
      
      <div class="analysis_skill col-lg-4 col-md-12 justify-content-center text-center">
    
          <div><i class="icon_skill far fa-chart-bar"></i></div>
          <h4>
            Data analysis
          </h4>
          <p>
            Extract and share meaningful information from data
          </p>

       
        
      </div>

      <div class = "building_skill col-lg-4 col-md-12 justify-content-center text-center">
       
        <div>
          
          <div><i class="icon_skill fas fa-cogs"></i></div>
          <h4>
            Machine learning
          </h4>
          <p>
            TensorFlow and Scikit-learn for modeling data and make predictions
          </p>
        </div>
      </div>

      <div class="deploy_skill col-lg-4 col-md-12 justify-content-center text-center">
        
          <div><i class="icon_skill fas fa-rocket"></i></div>
          <h4>
            Deployment
          </h4>         
          <p>
            Create web apps that use the trained model to be used for people and add value
          </p>
      </div>   
    </div>
  </div> 
  
</div>
  



        <!-- Projects  -->
  <div class="projects">
    <div class="container">   
      <div class="row justify-content-center  ">
        <div class="prj col-12">
          <div class=" text-center">            
            <p class="prj_desc">
              My skills in data analysis, manipulation, modeling and deployment are in each project that I have done
            </p>
            <a class="btn btn-dark" href="projects.html" role="button">Projects</a>   
          </div>      
        </div>
      </div>
    </div>
  </div>
         
                
        
   
    
    
      
   

    


<!-- About -->
    <div class = "about">
      <div class = "container">
        <div class= "row">
          <div class = "col-3">
            <h4>photo</h4>
          </div>
          <div class = "col-9">
            <p>
              I am an environmental Engineer very passionate about machine learning and its potential to face global challenges. I have experience using Python andtechnicallibrariessuchasNumpy, Pandas, Matplotlib, Scikit-learn, and TensorFlow to analyze and model data. I have knowledge about algorithms used in machine learning and deep learning. I am looking forward to solving real-world  problems using information technologies
            </p>
          </div>
        </div>
      </div>
    </div>







<!-- Footer-->
    <div class ="footer d-flex justify-content-center">
      <div class = "icons">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>       
      </div>      
    </div>  







    
  
      
    
  
      




















    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

 
  </body>
</html>
